.post-border {
  width: 80vh;
  height: 40vh;
  margin-left: 500px;
  border: 0.5px solid #f4f4f4;
  /* box-shadow: 0 20px 40px rgba(0,0,0,.1); */
}
.profile {
  height: 63px;
  display: flex;
}
.photo {
  height: 57px;
  border-radius: 50%;
  position: absolute;
}
.name {
  margin-top: 9px;
  margin-left: 61px;
}
.accountType {
  position: absolute;
  margin-top: 30px;
  margin-left: 62px;
}
.line {
  border: 0.0023px solid black;
  top: 70px;
}
.title {
  width: auto;
  position: relative;
  left: 2px;
}
#more {
  display: none;
}
