.post-border {
  position: relative;
  width: 893px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.profile {
  height: 63px;
  display: flex;
}
.photo {
  height: 57px;
  border-radius: 50%;
  position: absolute;
}
.name {
  margin-top: 9px;
  margin-left: 61px;
}
.accountType {
  position: absolute;
  margin-top: 30px;
  margin-left: 62px;
}
.line {
  position: absolute;
  border: 0.0023px solid black;
}
.title {
  text-align: left;
  margin-top: 0px;
  margin-right: auto;
  width: 560px;
  word-wrap: break-word;
  top: 58px;
}
#more {
  display: none;
}
.thumbnail-image {
  top: 38px;
  right: 3px;
  width: 300px;
  position: absolute;
}

.p-description {
  word-wrap: break-word;
  white-space: normal;

  text-align: left;
  font-size: 14px;
  width: 560px;
}
.date {
  left: 5px;
  top: 233px;
  display: inline-block;
}
.comments {
  top: 233px;
  left: 170px;
  display: inline-block;
}
.like {
  top: 233px;
  left: 140px;
  display: inline-block;
}

footer {
  margin-top: auto;
  display: flex;
  gap: 10px;
  height: auto;
}

.comment-section {
  justify-content: center;
  text-align: left;
}

.logo {
  width: 26px;
}
