.mission{
  justify-content: center;
  position: absolute;
  color: black;
  top: 12px;
  bottom: 0;
  right: 700px;
  font-size: 20px;
}
.articles{
  justify-content: center;
  position: absolute;
  color: black;
  top: 12px;
  bottom: 0;
  right: 600px;
  font-size: 20px;
}
.login{
  justify-content: center;
  position: absolute;
  color: black;
  top: 12px;
  bottom: 0;
  right: 500px;
  font-size: 20px;
}

.welcome {
  color: black;
}
body{
  padding-top: 70px;
  background-color: #313846;
}